.dialogBox {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	display: flex;
	flex-direction: column;
	max-height: calc(100% - 80px);
	:global {
		.el-dialog__body {
			flex: 1;
			padding: 15px 30px;
			overflow: auto;
		}

		.el-textarea.is-disabled .el-textarea__inner {
			color: #2e2e2e;
		}
		.el-select {
			width: 100%;
		}
	}
}
// 新UI弹窗dialog样式
// 表单label 6个字
.zh-common-dialog_6 {
  .el-dialog {
    width: 860px !important;
  }
}

// 表单label 5个字
.zh-common-dialog_5 {
  .el-dialog {
    width: 828px !important;
  }
}

// 表单label 4个字
.zhCommonDialog {
    width: 800px;
    background: #FFFFFF;
    border-radius: 4px;
    :global {

    .el-dialog__header {
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #F7F8FA;
      padding: 0 24px;
      box-sizing: border-box;
      border-radius: 4px 4px 0 0;
      //box-shadow: 0px 2px 10px 0px rgba(66, 70, 86, 0.20);
      .el-dialog__title {
        font-size: 14px;
        color: #9EACC4;
        font-weight: 500;
        line-height: 24px;
      }
      .el-dialog__headerbtn .el-dialog__close {
        color: #424656;
      }
    }
			.el-dialog__body {
				padding: 15px 30px;
				box-sizing: border-box;
				//zh-dialog-form_formwrap 可简写为zh-d-f_wrap
				.zh-dialog-form_formwrap,
				.zh-d-f_wrap {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					//zh-dialog-form_formitem
					//表单label 4个字
					.zh-dialog-form_formitem {
						margin-bottom: 20px;
						display: flex;
						.el-form-item__label {
							min-width: 58px;
							margin-right: 16px;
						}
						.el-form-item__label::before {
							content: none;
						}
						.el-form-item__content {
							width: 200px;
							.el-date-editor.el-input {
								width: 100%;
							}
						}
					}
					.self-adaption-form_formitem {
						margin-bottom: 20px;
						display: flex;
						.el-form-item__label::before {
							content: none;
						}
						.el-form-item__error {
							width: 200px;
						}
					}
					.zh-dialog-form_formitem_textarea {
						margin-bottom: 20px;
						display: flex;
						.el-form-item__label {
							min-width: 58px;
							margin-right: 16px;
						}
						.el-form-item__label::before {
							content: none;
						}
						.el-form-item__content {
							width: 546px;
							.el-date-editor.el-input {
								width: 100%;
							}
						}
					}
					.zh-dialog-form_formitem_5 {
						margin-bottom: 20px;
						display: flex;
						.el-form-item__label {
							min-width: 72px;
							margin-right: 16px;
						}
						.el-form-item__label::before {
							content: none;
						}
						.el-form-item__content {
							width: 200px;
							.el-date-editor.el-input {
								width: 100%;
							}
						}
					}
					.zh-dialog-form_formitem_6 {
						margin-bottom: 20px;
						display: flex;
						.el-form-item__label {
							min-width: 88px;
							margin-right: 16px;
						}
						.el-form-item__label::before {
							content: none;
						}
						.el-form-item__content {
							width: 200px;
							.el-date-editor.el-input {
								width: 100%;
							}
						}
					}
					.zh-dialog-form_formitem_100 {
						margin-bottom: 20px;
						display: flex;
						.el-form-item__label {
							min-width: 88px;
							margin-right: 16px;
						}
						.el-form-item__label::before {
							content: none;
						}
						.el-form-item__content {
							width: 546px;
							.el-date-editor.el-input {
								width: 100%;
							}
						}
					}
					//6个字表单项
					//不是必输项
					.zh-dialog-form_norequire_formitem_6 {
						width: 319px;
					}
					//占一行
					.zh-dialog-form_row_formitem_6 {
						margin-bottom: 20px;
						display: flex;
						.el-form-item__label {
							min-width: 88px;
							margin-right: 16px;
						}
						.el-form-item__label::before {
							content: none;
						}
						.el-form-item__content {
							width: 576px;
							.el-date-editor.el-input {
								width: 100%;
							}
						}
					}
					//文本域
					.zh-dialog-form_textarea_base {
						.el-form-item__content {
							width: 546px;
						}
					}
					.zh-dialog-form_textarea_5 {
						.el-form-item__content {
							width: 559px;
						}
					}
					.zh-dialog-form_textarea_6 {
						.el-form-item__content {
							width: 576px;
						}
					}
					.is-required::after {
						content: '*';
						margin-left: 10px;
						width: 5px;
						height: 5px;
						color: #FA574F;
						display: flex;
						align-self: center;
					}
				}
			}
		
    .el-dialog__footer {
      .dialog-footer {
        display: flex;
        justify-content: center;
        button {
          width: 80px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
        }
        .el-button + .el-button {
          margin-left: 15px;
        }
      }
    }
	}
}

.drawerBox {
	:global {
		.el-drawer__body {
			display: flex;
			flex-direction: column;
		}
		.el-drawer__header {
			margin-bottom: 0;
		}

		.el-form {
			flex: 1;
			overflow: auto;
		}

		.el-select {
			width: 100%;
		}
	}
	.action {
		padding: 0;
		padding-top: 15px;
	}
}

.action {
	padding: 15px;
	border-top: 1px solid #eee;
	text-align: right;
}

.setTimeBox {
	:global {
		.el-radio {
			margin-bottom: 10px;
		}
	}
}

.drawerContent {
	padding: 0 15px 15px;
	flex: 1;
	overflow: auto;

	:global {
		.mainBox {
			min-height: auto;
		}
	}
}

.cardIdBox {
	:global {
		.el-form-item {
			margin-bottom: 6px;
		}
	}
}
.carSelectBox {
	overflow: hidden;
	.list {
		padding: 10px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
		max-height: 400px;
		overflow: auto;
	}
	.item {
		padding: 15px 15px 18px;
		border-radius: 4px;
		box-shadow: 0 0 10px rgba(58, 88, 171, 0.2);
	}
	.vin {
		font-size: var(--titleSize);
	}
	.info {
		margin-top: 5px;
		display: flex;
		justify-content: space-between;
	}
}
.userBox {
	.infoTitle {
		position: relative;
		display: flex;
		width: 100%;
		height: 40px;
		padding: 0 15px;
		font-size: var(--titleSize);
		justify-content: space-between;
		align-items: center;

		.titleAct {
			margin-right: 30px;
		}
	}
	.labelForm {
		:global {
			.el-form-item__label {
				float: left;
				padding: 0 12px 0 0;
				font-size: 14px;
				line-height: 15px;
				color: #606266;
				text-align: right;
				vertical-align: middle;
				box-sizing: border-box;
			}
		}
	}
}
.filterBox {
	height: 100%;
	overflow: hidden;
	.filterList {
		max-height: 93%;
		overflow-y: auto;
	}
	.filterItem {
		margin-bottom: 15px;
		display: flex;
	}
	.close {
		margin-left: 15px;
	}
	.field,
	.conditionType {
		margin-right: 15px;
	}
	.errorText {
		margin-bottom: 10px;
		color: red;
	}
	:global {
		.el-select {
			width: 180px;
		}
	}
}

.tableColBox {
	.tempBox {
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		span {
			margin-right: 15px;
		}
	}
	.setExplain {
		margin: 15px 0;
		position: relative;
		text-align: center;
		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 25%;
			height: 1px;
			background-color: #999;
		}
		&::before {
			left: 0;
		}
		&::after {
			right: 0;
		}
	}

	.tagList {
		min-height: 40px;
		border-radius: 4px;
	}

	.noList {
		border: 1px dashed #999;
	}

	.listGroupItem {
		cursor: pointer;
	}

	.explainBox {
		margin-bottom: 15px;
		padding-bottom: 15px;
		color: #999;
		border-bottom: 1px solid #eee;
		.explain {
			margin-right: 10px;
			font-size: 18px;
			color: #333;
		}
	}

	:global {
		.el-tag {
			margin-bottom: 10px;
			margin-right: 10px;
		}
	}
}

.tabColAction {
	display: flex;
	justify-content: space-between;
	.colAct {
		display: flex;
	}
	:global {
		.el-upload {
			margin-right: 10px;
		}
	}
}

.tableBody {
	.tableName {
		margin-bottom: 15px;
		display: flex;
		align-items: center;
		> div {
			flex: 1;
			display: flex;
			align-items: center;
		}
		:global {
			.el-input {
				margin-left: 10px;
				flex: 1;
			}
		}
	}
	.item {
		display: flex;
		overflow: hidden;
	}
	.type {
		margin-left: 15px;
		margin-right: 15px;
	}
	.del {
		margin-left: 10px;
	}
	:global {
		.el-form-item {
			flex: 1;
		}
		.el-form-item__label {
			padding-right: 10px;
		}
		.el-form-item__content {
			width: 90%;
		}
		.el-select {
			width: 100%;
		}
		.sort-move {
			transition: transform 0.3s;
		}
		.mainBox {
			margin-bottom: 15px;
			max-height: calc(100% - 80px);
			flex: unset;
			height: unset;
			overflow: auto;
		}
	}
}
.twoCols {
	&:global(.el-form) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	:global {
		.el-col-12 {
			max-width: 48%;
		}
		.el-form-item {
			margin-right: 0;
		}
	}
}
.previewBox {
	display: flex;
	flex-direction: column;
	height: 100%;
	:global {
		.el-tabs__content,
		.el-tab-pane {
			height: 100%;
		}
	}
}
