/**
* 全局通用样式
* @author miaozhendong
* @email miaozhendong@live.com
* @version v1.0.0
* @date 2021/6/30
*/
@import "./variables.scss";
html,
body,
#vue {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

[v-cloak] {
  display: none;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: sans-serif, PingFangSC, 'Helvetica Neue', Helvetica, 'Microsoft YaHei', arial, STHeiTi;
  color: $black2;
  padding-right: 0 !important;
  overflow: hidden;
}

input,
button,
select,
textarea {
  outline: none;
  font-family: sans-serif, PingFangSC, 'Microsoft YaHei';
}

html {
  height: 100%;
  box-sizing: border-box;
}

#vue {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

// main-container全局样式
.main-scroll-bar {
  height: calc(100vh - 56px);
  background: $background-color-base;
  .el-scrollbar__wrap {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
}

// 设置滚动条的样式
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-button {
  background: none;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #B9C2CB;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #B9C2CB;
}

input,
.el-textarea__inner,
.el-input__inner {
  &::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #C2C3C4;
  }
  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #C2C3C4;
  }
  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #C2C3C4;
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #C2C3C4;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container-wrapper {
  width: 100%;
  border: 1px solid #E4E4E4;

  @include paddingBase;

  background: #FFFFFF;
  .header {
    line-height: 32px;
    margin-bottom: 16px;
    h3 {
      font-size: 20px;
      font-weight: 700;
      float: left;
    }
  }
}

.form-wrapper {
  width: 100%;
  border: 1px solid #E4E4E4;

  @include paddingBase;

  padding-top: 0;
  background: #FFFFFF;
  margin-bottom: 24px;
  .form-header {
    line-height: 47px;
    border-bottom: 1px solid $gray4;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 24px;
  }
}

.opt-btn-list {
  position: relative;
  .collapse-btn {
    position: absolute;
    top: 0;
    left: 222px;
  }
}

.icon_border {
  span {
    i {
      border: 1px solid;
      border-radius: 50%;
    }
  }
}

.el-col-empty {
  height: 50px;
}

.pb6 {
  padding-bottom: 6px;
}

.pl15 {
  padding-left: 15px;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb8 {
  margin-bottom: 8px !important;
}

.mb--24 {
  margin-bottom: -24px;
}

.mr16 {
  margin-right: 16px;
}

.pointer {
  cursor: pointer;
}

.lh24 {
  line-height: 24px !important;
  .el-form-item__label {
    line-height: 24px;
  }
  .el-form-item__content {
    line-height: 24px;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.tac {
  text-align: center;
}

.lg-btn {
  width: 160px;
}

.del-txt-btn {
  color: $red2;
  &:hover {
    color: $red3;
  }
}

.add-txt-btn {
  color: $theme-color;
  &:hover {
    color: $theme-color;
  }
}

.txt-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.blod {
  font-weight: 700;
  color: $black2;
}

code {
  background: #EEF1F6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: sans-serif, 'Source Sans Pro', 'Helvetica Neue', Arial;
  a {
    color: #337AB7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.app-container {
  @include paddingBase;

  box-sizing: border-box;
  overflow-y: auto;
  overflow-y: overlay;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.text-white {
  color: #FFFFFF;
}

// 页面容器
.container {
  @include paddingBase;

  background: #FFFFFF;
  border-radius: 2px;
}

.crumbs {
  margin-bottom: 20px;
}

.plugins-tips {
  padding: 20px 10px;
  margin-bottom: 20px;
}

.warn-content {
  background: rgba(66, 185, 131, 0.1);
  border-radius: 2px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: 0.05rem;
  a {
    color: #42B983;
    font-weight: 600;
  }
}


// BaseForm

.form-box {
  width: 600px;
}

.form-box .line {
  text-align: center;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
  margin-top: -7px;
}

.el-time-spinner__wrapper .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
  padding-bottom: 0;
}

// nprogress
#nprogress .bar {
  background: #42B983 !important;
}

#nprogress .spinner-icon {
  border-top-color: #42B983 !important;
  border-left-color: #42B983 !important;
}

.radio-btn {
  .el-radio__input.is-checked {
    .el-radio__inner {
      height: 16px;
      width: 16px;
      border: 1px solid #0091D2;
      background: #FFFFFF;
    }
    .el-radio__inner::after {
      height: 8px;
      width: 8px;
      background: #0091D2;
    }
  }
}

// icon
.icon-box {
  height: 64px;
  width: 64px;
  border: 3px solid $black6;
  border-radius: 32px;
  line-height: 56px;
  margin: 0 auto 8px;
  cursor: pointer;
  .svg-icon {
    font-size: 44px;
    color: $black6;
    position: relative;
    top: 6px;
  }
  &.selected {
    border-color: $theme-color;
    background: $theme-color;
    color: #FFFFFF;
    .svg-icon {
      color: #FFFFFF;
    }
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.must-header {
  &::before {
    content: '*';
    color: #F56C6C;
    margin-right: 4px;
    font-size: 16px;
    position: relative;
    top: 4px;
  }
}

// 页面筛选表单
.cust-search-form {
  padding: 20px 20px 0 20px;
  border-radius: 8px 8px 0 0;
  box-sizing: border-box;
  background: #FFFFFF;
  .cust-search-form_item {
    width: 160px;
    height: 36px;
    border-radius: 4px;
    margin-bottom: 0;
    position: relative;
    // 左侧含搜索ICON的输入框
    .cust-search-form-item-normal_input {
      .el-input__inner {
        // border: none;
        // outline: none;
        // background: #f4f4f4;
        &::placeholder {
          color: #A8A8A8;
          font-size: 14px;
        }
      }
    }
    // 右侧含icon的输入框
    .cust-search-form-item-choose_input {
      .el-input__inner {
        // border: none;
        // outline: none;
        // background: #f4f4f4;
        &::placeholder {
          color: #A8A8A8;
        }
      }
    }
    .cust-search-form-item-select {
      .el-input__inner {
        // border: none;
        // outline: none;
        // background: #f4f4f4;
        &::placeholder {
          color: #A8A8A8;
        }
      }
    }
    // 自定义下拉框icon图标
    .el-select .el-input .el-select__caret::before {
      content: '\e78f';
    }
    .el-select .el-input .el-select__caret {
      color: #454545;
    }
  }
  // 左侧svg
  .prefix-icons {
    .el-input__prefix {
      top: 9px;
      left: 10px;
    }
  }
  // 右侧svg
  .suffix-icons {
    .el-input__suffix {
      top: 9px;
      right: 10px;
    }
  }
  .cust-btn {
    width: 74px;
    height: 36px;
    // border: 1px solid $theme-color;
    border-radius: 4px;
    color: $theme-color;
  }
  .el-button {
    border-radius: 18px;
    font-size: 14px;
    font-family: sans-serif, PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: center;
    color: #434b5b;
  }
  .el-button--primary {
    background: $theme-color;
    color: #FFFFFF;
    border: 0;
    font-family: sans-serif, PingFangSC, PingFangSC-Semibold;
    font-weight: 600;
    color: #fff;
  }
  .el-button + .el-button {
    margin-left: 10px;
  }
  .cust-long_btn {
    width: 90px;
  }
  .el-button [class*='el-icon-'] + span {
    margin-left: 0;
  }
}

// 表格操作样式
.action {
  .el-button {
    padding: 0;
  }
}

// 新建编辑弹窗
.cust-dialog {
  .el-dialog {
    width: 688px;
    background: #F4F4F4;
    border-radius: 8px;
  }
  .el-dialog .el-dialog__header {
    border-bottom: none;
    padding: 30px 0 0 0;
    box-sizing: border-box;
    margin-right: 0;
  }
  .el-dialog .el-dialog__header .el-dialog__title {
    font-weight: 600;
    font-size: 18px;
    color: #454545;
    display: flex;
    justify-content: center;
  }
  .el-dialog .el-dialog__header .el-dialog__headerbtn {
    width: 13px;
    height: 13px;
    top: 21px;
    right: 31px;
    color: #A8A8A8;
  }
  .el-dialog .el-dialog__body {
    padding: 30px 40px;
    box-sizing: border-box;
  }
  .el-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .el-form .el-form-item {
    margin-bottom: 20px;
    position: relative;
  }
  .cust-dialog-form-item-icons {
    .el-input__suffix {
      top: 9px;
      right: 10px;
    }
  }
  .select-arrow {
    .el-select .el-input .el-select__caret::before {
      content: "\e78f";
    }
  }
  .el-form .el-form-item:last-child {
    margin-bottom: 0;
  }
  .cust-dialog-form-item_long_label {
    display: flex;
    .el-form-item__label {
      min-width: 92px !important;
    }
    .el-form-item__content {
      margin-left: 0 !important;
    }
  }
  .el-form-item__label {
    color: #1A1A1A;
    padding: 0;
  }
  .el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label::before {
    margin-right: 0;
  }
  .el-form-item__content {
    width: 200px;
  }
  .el-input__inner {
    // background: rgba(216, 216, 216, 0.25);
    // border: none;
    font-size: 14px;
    color: #454545;
  }
  .el-input.is-disabled .el-input__inner {
    font-size: 14px;
    color: #A8A8A8;
    // background: rgba(216, 216, 216, 0.25);
  }
  .cust-dialog-form_textarea {
    width: 524px;
    .el-textarea__inner {
      height: 130px;
      border: none;
      // background: rgba(216, 216, 216, 0.25);
      padding: 10px;
      box-sizing: border-box;
      font-size: 14px;
      color: #454545;
      resize: none;
    }
  }
  .el-dialog__footer .cust-dialog_btn {
    width: 68px;
    height: 36px;
    padding: 0;
  }
  .cust-dialog_btn + .cust-dialog_btn {
    margin-left: 10px;
  }
  .cust-dialog_btn + .el-button--primary {
    color: #FFFFFF;
    background-color: $theme-color;
    border-color: $theme-color;
  }
}

// 编辑表单
.edit-form-box {
  background: #FFFFFF;
  border-radius: 8px;
  height: calc(100vh - 88px);
  overflow-y: auto;
  overflow-y: overlay;
  display: flex;
  flex-direction: column;
  .edit-form-title {
    line-height: 50px;
    margin-left: 30px;
    span {
      font-size: 20px;
      font-weight: 500;
    }
  }
  .el-form .el-form-item {
    margin-bottom: 20px;
    position: relative;
  }
  .cust-dialog-form-item-icons {
    .el-input__suffix {
      top: 9px;
      right: 10px;
    }
  }
  .select-arrow {
    .el-select .el-input .el-select__caret::before {
      content: "\e78f";
    }
    .el-select .el-input .el-select__caret {
      color: #454545;
    }
  }
  .el-form .el-form-item:last-child {
    margin-bottom: 0;
  }
  .cust-dialog-form-item_long_label {
    display: flex;
    .el-form-item__label {
      min-width: 92px !important;
    }
    .el-form-item__content {
      margin-left: 0 !important;
    }
  }
  .el-form-item__label {
    color: #1A1A1A;
    padding: 0;
  }
  .el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label::before {
    margin-right: 0;
  }
  .el-form-item__content {
    width: 200px;
  }
  .el-input__inner {
    // background: rgba(216, 216, 216, 0.25);
    // border: none;
    font-size: 14px;
    color: #454545;
  }
  .el-input.is-disabled .el-input__inner {
    font-size: 14px;
    color: #A8A8A8;
    // background: rgba(216, 216, 216, 0.25);
  }
  .cust-dialog-form_textarea {
    width: 524px;
    .el-textarea__inner {
      height: 130px;
      // border: none;
      // background: rgba(216, 216, 216, 0.25);
      padding: 10px;
      box-sizing: border-box;
      font-size: 14px;
      color: #454545;
      resize: none;
    }
  }
  // 底部按钮
  .edit-form-footer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .el-dialog__footer .cust-dialog_btn {
    width: 68px;
    height: 36px;
    padding: 0;
  }
  .cust-dialog_btn + .cust-dialog_btn {
    margin-left: 10px;
  }
  .cust-dialog_btn + .el-button--primary {
    color: #FFFFFF;
    background-color: $theme-color;
    border-color: $theme-color;
  }
}

// 表格操作文字提示样式
.el-tooltip__popper.is-light {
  color: #454545;
  background: #FFFFFF;
  border: 1px solid #F4F4F4;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}

// 新UI弹窗dialog样式
// 表单label 6个字
.zh-common-dialog_6 {
  .el-dialog {
    width: 860px !important;
  }
}

// 表单label 5个字
.zh-common-dialog_5 {
  .el-dialog {
    width: 828px !important;
  }
}

// 页面一行两列新增/编辑表单
.zh-form-page {
  background: #FFFFFF;
  padding: 0 30px 20px 30px;
  box-sizing: border-box;
  .zh-page-head {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E5ECFD;
    .zh-page-head_left {
      height: 100%;
      display: flex;
      span {
        height: 100%;
        display: flex;
        align-items: center;
        color: #454545;
        font-size: 14px;
        font-family: sans-serif, PingFangSC, PingFangSC-Medium;
        font-weight: 500;
        cursor: pointer;
        position: relative;
      }
      span:nth-child(2) {
        margin-left: 60px;
      }
      .active {
        color: $blue-base;
      }
      .active::after {
        position: absolute;
        content: '';
        width: 42px;
        height: 2px;
        background: $blue-base;
        bottom: 0;
        left: 0;
      }
    }
    .zh-page-head_right {
      button {
        width: 100px;
        height: 36px;
        padding: 0;
      }
      .el-button + .el-button {
        margin-left: 10px;
      }
    }
  }
  // 表单 label-5个字
  .zh-page_formwrap_5 {
    width: 943px !important;
  }
  // 表单 label-6个字
  .zh-page_formwrap_6 {
    width: 959px !important;
  }
  // 表单 label-默认4个字
  .zh-page_formwrap_base {
    width: 931px;
    margin: 40px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // 表单项在右边且不需要验证,防止整体表单右边对不齐
    .zh-noquire-pr {
      padding-right: 15px;
    }
    // 表单 label-默认4个字
    .zh-page-form_textarea_base,
    .zh-page-form_formitem_base {
      display: flex;
      margin-bottom: 30px;
      .el-form-item__label {
        min-width: 58px;
        margin-right: 16px;
      }
      .el-form-item__label::before {
        content: none !important;
      }
      .el-form-item__content {
        width: 310px;
        .el-date-editor.el-input {
          width: 100%;
        }
      }
    }
    // 表单 label-5个字
    .zh-page-form_textarea_5,
    .zh-page-form_formitem_5 {
      display: flex;
      margin-bottom: 30px;
      .el-form-item__label {
        min-width: 70px;
        margin-right: 16px;
      }
      .el-form-item__label::before {
        content: none !important;
      }
      .el-form-item__content {
        width: 310px;
        .el-date-editor.el-input {
          width: 100%;
        }
      }
    }
    .zh-page-form_textarea_required_5 {
      width: 411px;
    }
    // 表单 label-6个字
    .zh-page-form_textarea_6,
    .zh-page-form_formitem_6 {
      display: flex;
      margin-bottom: 30px;
      .el-form-item__label {
        min-width: 84px;
        margin-right: 16px;
      }
      .el-form-item__label::before {
        content: none !important;
      }
      .el-form-item__content {
        width: 310px;
        .el-date-editor.el-input {
          width: 100%;
        }
      }
    }
    // 表单 label-7个字
    .zh-page-form_textarea_7,
    .zh-page-form_formitem_7 {
      width: 441px;
      display: flex;
      margin-bottom: 30px;
      .el-form-item__label {
        min-width: 98px;
        margin-right: 16px;
      }
      .el-form-item__label::before {
        content: none !important;
      }
      .el-form-item__content {
        width: 310px;
        .el-date-editor.el-input {
          width: 100%;
        }
      }
    }
    // 文本域
    .zh-page-form_textarea_base {
      .el-form-item__content {
        width: 842px;
      }
    }
    .zh-page-form_textarea_5 {
      .el-form-item__content {
        width: 842px;
      }
    }
    .zh-page-form_textarea_6 {
      .el-form-item__content {
        width: 842px;
      }
    }
    .zh-page-form_textarea_7 {
      width: auto;
      .el-form-item__content {
        width: 812px;
      }
    }
    // 选择组织专属样式-调整svg样式
    .org-item {
      .svg-icon {
        position: absolute;
        top: 10px;
        right: 5px;
        font-size: 16px;
      }
    }
    .is-required::after {
      content: '*';
      margin-left: 10px;
      width: 5px;
      height: 5px;
      color: #FA574F;
      display: flex;
      align-self: center;
    }
  }
}

// 搜索栏位
.zh-search {
  padding: 20px 20px 10px 20px;
  box-sizing: border-box;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  // 表单区域固定
  .form_area {
    display: flex;
    // min-width: 630px;
    // width: calc(62vw);
    .el-form {
      display: flex;
      flex-wrap: wrap;
    }
    .zs_formitem {
      margin-bottom: 10px;
      .el-form-item__content {
        width: 200px;
        .el-date-editor.el-input,
        .el-autocomplete {
          width: 100%;
        }
      }
    }
    .zs-date-range_formitem {
      margin-bottom: 10px;
      .el-form-item__content {
        width: 410px;
        .el-range-editor.el-input__inner {
          width: 100%;
        }
      }
    }
    .zs-date-range_formitem_short {
      margin-bottom: 10px;
      .el-form-item__content {
        width: 320px;
        .el-range-editor.el-input__inner {
          width: 100%;
        }
      }
    }
    // 有svg图标的表单项
    .zs-formitem_svg {
      svg {
        font-size: 18px;
        position: absolute;
        top: 9px;
        right: 5px;
      }
    }
  }
  .form_btn {
    display: flex;
    button {
      width: 95px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #E5ECFD;
      color: #9EACC4;
      span {
        display: flex;
        align-items: center;
      }
      svg {
        margin-right: 10px;
        font-size: 18px;
      }
    }
    .el-button + .el-button {
      margin-left: 10px;
    }
  }
  .btn_area {
    display: flex;
    // margin-right: -15px;
    .high-search {
      display: flex;
    }
  }
  // 动态按钮区域
  .btn-right {
    display: flex;
    // 普通按钮
    button {
      width: 100px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        display: flex;
        align-items: center;
      }
      svg {
        margin-right: 10px;
        font-size: 18px;
      }
    }
    .el-button + .el-button {
      margin-left: 10px;
    }
    // 新增按钮
    .create-btn {
      border: 1px solid $theme-color;
      color: #FFFFFF;
    }
    // 导出按钮
    .export-btn {
      border: 1px solid $theme-color;
      color: $theme-color;
    }
  }
}

.check-column {
  padding: 4px 0;
}

// 自定义 Notification 通知
.custom-notification {
  padding: 10px;
  .el-notification__group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .el-notification__content {
      flex: 1;
      display: flex;
      align-items: center;
      margin: 0;
      text-align: left;
    }
    .el-notification__closeBtn {
      position: relative;
      top: 0;
      right: 0;
      height: 24px;
      line-height: 24px;
    }
  }
}

.svg-icon {
  vertical-align: bottom;
}

@for $i from -1000 through 1000 {
  .mt#{$i} {
    margin-top: $i * 1px;
  }
}

.iconfont {
  font-family: sans-serif, "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-scrollbar__bar.is-vertical {
  width: 3px;
  right: 0;
}

.el-input__inner {
  border: none;
  padding: 0;
}
.el-form-item--default .el-form-item__label {
  margin-right: 10px;
}

.el-button--text {
  padding: 0 10px;
  .svg-icon {
    font-size: 18px;
  }
}