// 全局 CSS 变量
@import "./variables.css";
// Transition
@import "./transition.scss";
// Element Plus
@import "./element-plus.scss";
// Vxe Table
@import "./vxe-table.scss";
// 注册多主题
@import "./theme/register.scss";

@import "./common.scss";

// 业务页面几乎都应该在根元素上挂载 class="app-container"，以保持页面美观
.app-container {
  padding: 20px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--v3-body-bg-color);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
    sans-serif;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}
.editWrap {
  .zh-page-form_formitem_5 .el-form-item__label {
    margin-right: 0 !important;
  }
}
.editMain {
  padding: 20px;
}

.pdfList {
  margin-top: 20px;
  display: flex;
  text-align: center;
}
.pdfItem {
  margin-right: 20px;
  margin-bottom: 20px;
}
.pdfName {
  margin-top: 5px;
}
