.upload {
  position: relative;

  :global {
    .el-upload {
      border: 1px dashed #ccc;
      border-radius: 6px;
      cursor: pointer;
      position: relative;

      &:hover {
        border-color: #409eff;
      }
    }

    .el-image__inner {
      object-fit: cover;
    }
  }

  .icon {
    font-size: 28px;
    color: #8c939d;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
  }

  .img,
  .mediaItem {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }

  .close {
    z-index: 9;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 20px;
    color: red;
  }

  .videoIcon {
    z-index: 9;
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    margin: auto;
    font-size: 26px;
    color: #fff;
  }
}
.disabled {
  :global {
    .el-upload :hover {
      cursor: not-allowed;
    }
  }
}

.videoBox {
  :global {
    .el-dialog__wrapper {
      overflow: hidden;
    }

    .el-dialog {
      margin: 50px auto !important;
      height: calc(100% - 100px);
      display: flex;
      flex-direction: column;
    }

    .el-dialog__body {
      overflow: auto;
      flex: 1;
    }
  }

  video {
    width: 100%;
    height: 100%;
  }
}
