.body {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  padding: 20px;
  flex: 1;
  overflow: auto;
}
.pdfList {
  margin-top: 20px;
  display: flex;
  text-align: center;
}
.pdfName {
  margin-top: 5px;
}
.otherBox {
  width: 100%;
}
.action {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}
